*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
}
.btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 65px;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
/* Main Style */
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png),url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    padding-top: 50px;
}
.logo{
    font-size: 41px;
    font-weight:900 ;
}
.color-orange {
    color: #FD6E0A;
}
nav{
    width: 71.25%;
    max-width: 1140px;
      /* border: 2px solid aqua; */
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
   display: flex;
   gap: 51px;
   align-items: center;

}
nav li{
   list-style: none; 
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.pb {
    background-color: #FD6E0A;
    width: 150px;
    height: 65px;
    border-radius: 5px;
    border: none;
    padding: 18px 10px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.banner-image{
    max-width: 585px;
    vertical-align: middle;
}